<swiper-container class="mySwiper" slides-per-view="2.5" space-between="30">
    <swiper-slide>
        <div class="image-container" >
            {% if section.settings.images != blank %}
                <img src="{{ section.settings.images | img_url: 'https://us.bombayshirts.com/cdn/shop/files/new_arrivals_3856d195-54a4-4b43-b91c-6b3ecc6b61fe_800x.jpg?v=1711795856' }} class='image'">
            {% endif %}
            <h2 class="image-heading">{{ section.settings.title }}</h2>
            <p class="image-paragraph">{{ section.settings.subtitle }}</p>
            {% if section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="image-btn">{{ section.settings.button_text }}</a>
            {% endif %}
        </div>
    </swiper-slide>
    <swiper-slide class="image-container">
        <div class="image-container">
            {% if section.settings.images != blank %}
                <img src="{{ section.settings.images | img_url: 'https://us.bombayshirts.com/cdn/shop/files/customer_favs_800x.jpg?v=1706703018' }} class='image'">
            {% endif %}
            <h2 class="image-heading">{{ section.settings.title }}</h2>
            <p class="image-paragraph">{{ section.settings.subtitle }}</p>
            {% if section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="image-btn">{{ section.settings.button_text }}</a>
            {% endif %}
        </div>
    </swiper-slide>
    <swiper-slide class="image-container">
        <div class="image-container">
            {% if section.settings.images != blank %}
                <img src="{{ section.settings.images | img_url: 'https://us.bombayshirts.com/cdn/shop/files/weekend_800x.jpg?v=1706703019' }} class='image'">
            {% endif %}
            <h2 class="image-heading">{{ section.settings.title }}</h2>
            <p class="image-paragraph">{{ section.settings.subtitle }}</p>
            {% if section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="image-btn">{{ section.settings.button_text }}</a>
            {% endif %}
        </div>
    </swiper-slide>
</swiper-container>
<div class="btn-container">
    <button class="prev1">❮</button>
    <button class="next1">❯</button>
</div> 


    {% schema %}
        {
            "name": "Image Slider",
            "max_blocks": 3,
            "settings": [
                
            ],
            "blocks": [
                {
                    "type": "collection",
                    "name": "Image Slide",
                    "settings": [
                        {
                            "type": "collection",
                            "id": "collection_slider",
                            "label": "Slider"
                        },
                        {
                            "type": "image_picker",
                            "id": "images",
                            "label": "Product Image"
                        },
                        {
                            "type": "text",
                            "id": "title",
                            "label": "Title"
                        },
                        {
                            "type": "text",
                            "id": "subtitle",
                            "label": "Subtitle"
                        },
                        {
                            "type": "url",
                            "id": "button_link",
                            "label": "Button Link"
                        },
                        {
                            "type": "text",
                            "id": "button_text",
                            "label": "Button Text"
                        }
                    ]
                }
            ],
            "presets": [
                {   
                "categogy": "slider",
                "name": "Image Slider"
            }
        ]
    }
    {% endschema %}


    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }

        .mySwiper{
            margin: 150px 0px 50px;
            cursor: grab;
        }

        swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .image {
            display: block;
            max-width: 100%;
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
        }

        swiper-container {
            max-width: 100%;
            height: 100%;
        }

        .image-heading{
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            font-size: 22px;
            cursor: grab;
        }

        .image-paragraph{
            text-align: left;
            opacity: 0.6;
            letter-spacing: 1px;
            font-size: 14px;
            cursor: grab;
        }

        .image-btn{
            display: flex;
            justify-content: left;
            color: rgb(94, 94, 237);
            font-weight: 600;
        }

        .prev1{
            position: absolute;
            transform: translateY(-50%);
            background-color: white;
            color: black;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            z-index: 1;
            top: 45%;
            border-radius: 50%;
            font-size: 16px;
            left: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        } 
        
        .next1 {
            position: absolute;
            transform: translateY(-50%);
            background-color: white;
            color: black;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            z-index: 1;
            top: 45%;
            border-radius: 50%;
            font-size: 16px;
            right: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media (max-width:1700px){
            .image-container{
                max-width: 100%;
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>