<section class="image-section">
    <swiper-container class="mySwiper" slides-per-view="2.5" space-between="20" >
    {% for block in section.blocks %}
        <swiper-slide>
            <div class="image-container">
                {% if block.settings.images != blank %}
                    <img src="{{ block.settings.images | img_url: 'master' }}" class="slider_images">
                {% endif %}
                <h2 class="image-heading">
                    {{ block.settings.title }}
                </h2>
                <p class="image-paragraph">
                    {{ block.settings.subtitle }}
                </p>
                {% if block.settings.button_link %}
                    <a href="{{ block.settings.button_link }}" class="image-btn">
                        {{ block.settings.button_text }}
                    </a>
                {% endif %}
            </div>
        </swiper-slide>
    {% endfor %}
    </swiper-container> 
    <div class="btn-container">
        <button class="left-prev">❮</button>
        <button class="right-next">❯</button>
    </div>
</section>

{% schema %}
    {
        "name": "Image Slider",
        "settings": [],
        "blocks": [
            {
                "type": "sliders",
                "name": "Image Slider",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "images",
                        "label": "Product Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button Link"
                    }, 
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Image Slider"
            }
        ]
    }
{% endschema %}

<style>
    * {
        font-family: 'Roboto', sans-serif;
    }

    .image-section{
        position: relative;
        margin: 0px 35px;
    }

    .mySwiper {
        margin: 50px 0px 50px;
        cursor: grab;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider_images {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
    }

    .image-heading {
        font-weight: 500;
        text-align: left;
        font-size: 22px;
        cursor: grab;
    }

    .image-paragraph {
        text-align: left;
        opacity: 0.6;
        font-size: 16px;
        cursor: grab;
    }

    .image-btn {
        display: flex;
        justify-content: left;
        color: rgb(94, 94, 237);
        font-weight: 600;
    }

    .left-prev, .right-next{
        position: absolute;
        top: 40%;
        background-color: white;
        color: black;
        border: none;
        padding: 4px 14px;
        cursor: pointer;
        z-index: 1;
        border-radius: 50%;
        vertical-align: middle; 
        font-size: 24px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .left-prev{
        left: -18px;    
    }

    .right-next{
        right: -18px;
    }

</style>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>